.pyro {
  overflow: hidden;
  background:
    radial-gradient(circle at 50% 100%, #223, #000 40%);
  margin: 0;
}

.pyro:after {  
  content: url('https://t4.ftcdn.net/jpg/02/82/85/41/360_F_282854103_37oUj0bXJxBW6MOb5GnxuBmv4Vq83PKw.jpg');
  mix-blend-mode: multiply;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 38.25%);
  text-align: center;  
}
  
.glowing {
    color: white;
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
}

.checkered {
  background-image:
    linear-gradient(45deg, #ccc 25%, transparent 25%), 
    linear-gradient(135deg, #ccc 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #ccc 75%),
    linear-gradient(135deg, transparent 75%, #ccc 75%);
  background-size:4px 4px; /* Must be a square */
  background-position:0 0, 2px 0, 2px -2px, 0px 2px; /* Must be half of one side of the square */
}