<div class="w-screen h-full relative bg-green-700">  
  <div id="playersContainer" class="h-20">
  </div>
  <div id="table" class="p-6 max-w-[50%] mx-auto bg-white rounded-xl shadow-lg my-4">
      
      <div id="mainPot" class="">
      </div>
      
      <div id="commonCards" class="bg-gray-200 w-full h-16">
      </div>
      <div class="bg-gray-100">
        <div id="highBet" class="inline-block text-left">5000</div>
        <div id="street" class="inline-block float-right text-right">flop</div>
      </div>
      <div id="results">
      </div>
  </div>
  <div id="self" class="mx-[25%]">
    <!--JS will populate a player inside here with appropriate styling-->
  </div>
  <div id="actions" class="py-2 px-2 flex justify-center w-full bg-white absolute left-0 bottom-0 items-end">
      <div class="my-2 mx-2">
          <button type="button" id="checkBtn" onclick="check()" class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">Check</button>
      </div>
      <div class="my-2 mx-2">
        <button type="button" id="callBtn" onclick="call()" class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">Call</button>
      </div>
      <div class="my-2 mx-2 text-center">
        <label id="betLabel"></label>
        <div class="relative text-gray-700">
            <input id="betAmount" class="w-full min-w-[120px] h-10 pl-3 pr-8 text-base placeholder-gray-600 border rounded-lg focus:shadow-outline" type="text" placeholder="Amount"/>
            <button id="betBtn" onclick="bet()" class="absolute inset-y-0 right-0 flex items-center px-4 font-bold text-white bg-indigo-600 rounded-r-lg hover:bg-indigo-500 focus:bg-indigo-700">Bet</button>
        </div>
    </div>
    <div class="my-2 mx-2">
      <button type="button" id="foldBtn" onclick="fold()" class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">Fold</button>
    </div>
  </div>
</div>
    
<script src="/socket.io/socket.io.js"></script>
<script src="/js/menus.js"></script>
<script src="/js/socket.js"></script>
<script>
    // Eventually convert this to react probably. But iterating with pure JS is easy.
    function updateActions(actionsOpts, currentPlayerId){
      console.log("actions are: ", actionsOpts, " for playerId: ", currentPlayerId);
      var callBtn = document.getElementById("callBtn");
      var checkBtn = document.getElementById("checkBtn");
      var foldBtn = document.getElementById("foldBtn");
      var betLabel = document.getElementById("betLabel");
      var betBtn = document.getElementById("betBtn");
      if (actionsOpts && actionsOpts.call){
        callBtn.classList.remove("invisible");
        callBtn.innerHTML = "Call: " + actionsOpts.call;
      } else {
        callBtn.classList.remove("invisible");
        callBtn.classList.add("invisible");
      }
      if (actionsOpts && actionsOpts.fold){
        foldBtn.classList.remove("invisible");
      } else {
        foldBtn.classList.remove("invisible");
        foldBtn.classList.add("invisible");
      }
      if (actionsOpts && actionsOpts.check){
        checkBtn.classList.remove("invisible");
      } else {
        checkBtn.classList.remove("invisible");
        checkBtn.classList.add("invisible");
      }
      if (actionsOpts && actionsOpts.bet){
        betBtn.classList.remove("invisible");
        betLabel.classList.remove("invisible");
        betLabel.innerHTML = actionsOpts.bet[0] + " to " + actionsOpts.bet[1];
      } else {
        betBtn.classList.remove("invisible");
        betBtn.classList.add("invisible");
        betLabel.classList.remove("invisible");
        betLabel.classList.add("invisible");
      }
    }

    function updateResults(results){
      var resultsDiv = document.getElementById("results");
      if (results){
        resultsDiv.innerHTML = JSON.stringify(results);
      } else {
        resultsDiv.innerHTML = "";
      }
    }

    function updateAllPlayers(playersInfo, currentPlayerId){
      let containerDiv = document.getElementById('playersContainer');
      containerDiv.innerHTML = "";
      let selfContainer = document.getElementById('self');
      selfContainer.innerHTML = "";
      // cycle through each player, starting at self.
      let startArrayPosition = playersInfo.map(function(o) { return o.playerId; }).indexOf(currentPlayerId);
      for (var i = startArrayPosition; i < playersInfo.length + startArrayPosition; i++) {
        let j = i % playersInfo.length;
        console.log("updating player at: ", j);
        if (playersInfo[j]["playerId"] == currentPlayerId){
          addAPlayer(selfContainer, playersInfo[j]);
        } else {
          addAPlayer(containerDiv, playersInfo[j]);
        }
      }
      arrangePlayers(containerDiv);
    }

    function addAPlayer(container, playerInfo) {
            let playerId = playerInfo["playerId"];
            container.appendChild(renderPlayer(playerInfo));
            var playerBox = document.getElementById("player" + playerId);
            var chipLabel = document.getElementById("player" + playerId + "chips");
            var nameLabel = document.getElementById("player" + playerId + "name");
            var buttonLabel = document.getElementById("player" + playerId + "button");
            var smallBlindLabel = document.getElementById("player" + playerId + "smallBlind");
            var bigBlindLabel = document.getElementById("player" + playerId + "bigBlind");
            var handLabel = document.getElementById("player" + playerId + "hand"); 

            if (playerBox){
              if (playerInfo.handState == "FOLD" || playerInfo.gameState == "OUT"){
                playerBox.classList.remove('bg-white');
                playerBox.classList.remove('shadow-lg');
                playerBox.classList.add('bg-slate-300');
              } else {
                playerBox.classList.remove('bg-slate-300');
                playerBox.classList.add('shadow-lg');
                playerBox.classList.add('bg-white');
              }
            }
            if (chipLabel){
                chipLabel.innerHTML = playerInfo["chips"];
            }
            if (nameLabel){
                nameLabel.innerHTML = playerInfo["name"];
            }
            if (buttonLabel){
              if (playerInfo["button"]){
                buttonLabel.classList.remove("hidden");
                buttonLabel.innerHTML = "D";
              } else {
                buttonLabel.classList.remove("hidden");
                buttonLabel.classList.add("hidden");
                buttonLabel.innerHTML = "";
              }  
            }
            if (smallBlindLabel){
              if (playerInfo["smallBlind"]){
                smallBlindLabel.classList.remove("hidden");
                smallBlindLabel.innerHTML = "SB";
              } else {
                smallBlindLabel.classList.remove("hidden");
                smallBlindLabel.classList.add("hidden");
                smallBlindLabel.innerHTML = "";
              }
            }
            if (bigBlindLabel){
              if (playerInfo["bigBlind"]){
                bigBlindLabel.classList.remove("hidden");
                bigBlindLabel.innerHTML = "BB";
              } else {
                bigBlindLabel.classList.remove("hidden");
                bigBlindLabel.classList.add("hidden");
                bigBlindLabel.innerHTML = "";
              }
            }
            if (handLabel){
              var handString = ""
              for (let j = 0; j < playerInfo["hand"].length; j++) {
                handString = handString + renderCard(playerInfo["hand"][j]);
              }
              handLabel.innerHTML = handString;
            }
    }

    function arrangePlayers(container){
      let players = container.getElementsByClassName("player-box");
      let screenWidth = screen.width;
      let screenHeight = screen.height;
      let playersCount = players.length;
      let playerBoxWidth = 133; //px width of box
      let playerBoxHeight = 100;

      switch (playersCount){
        case 1:
          // put at top middle of screen
          players[0].style="position:absolute; left:" + (screenWidth/2 - playerBoxWidth/2) + "px;" + "top:0px;";
          break;
        case 2:
          // put at upper left and upper right
          players[0].style="position:absolute; left:" + "0" + "px;" + "top:0px;";
          players[1].style="position:absolute; right:" + "0" + "px;" + "top:0px;";
          break;
        case 3:
          // put at mid left, upper middle, and mid right
          players[0].style="position:absolute; left:" + "0" + "px;" + "top:" + (screenHeight/2 - playerBoxHeight) + "px;";
          players[1].style="position:absolute; left:" + (screenWidth/2 - playerBoxWidth/2) + "px;" + "top:0px;";
          players[2].style="position:absolute; right:" + "0" + "px;" + "top:" + (screenHeight/2 - playerBoxHeight) + "px;";
          break;
        case 4:
          // put at mid left, two across top and mid right
          players[0].style="position:absolute; left:" + "0" + "px;" + "top:" + (screenHeight/2 - playerBoxHeight) + "px;";
          players[1].style="position:absolute; left:" + (screenWidth/2 - playerBoxWidth) + "px;" + "top:0px;";
          players[2].style="position:absolute; left:" + (screenWidth/2 + playerBoxWidth) + "px;" + "top:0px;";
          players[3].style="position:absolute; right:" + "0" + "px;" + "top:" + (screenHeight/2 - playerBoxHeight) + "px;";
          break;
        case 5:
          // put at mid left, three across top and mid right
          players[0].style="position:absolute; left:" + "0" + "px;" + "top:" + (screenHeight/2 - playerBoxHeight) + "px;";
          players[1].style="position:absolute; left:" + (screenWidth/2 - 2*playerBoxWidth) + "px;" + "top:" + playerBoxHeight + "px;";
          players[2].style="position:absolute; left:" + (screenWidth/2 - playerBoxWidth/2) + "px;" + "top:" + playerBoxHeight + "px;";
          players[3].style="position:absolute; left:" + (screenWidth/2 + 2*playerBoxWidth) + "px;" + "top:" + playerBoxHeight + "px;";
          players[4].style="position:absolute; right:" + "0" + "px;" + "top:" + (screenHeight/2 - playerBoxHeight) + "px;";
          break;
        case 6:
          // put at two left, two across top and two right
          players[0].style="position:absolute; left:" + "0" + "px;" + "top:" + 2*playerBoxHeight + "px;";
          players[1].style="position:absolute; left:" + "0" + "px;" + "top:" + playerBoxHeight + "px;";
          players[2].style="position:absolute; left:" + (screenWidth/2 - playerBoxWidth/2) + "px;" + "top:" + playerBoxHeight + "px;";
          players[3].style="position:absolute; left:" + (screenWidth/2 + 2*playerBoxWidth) + "px;" + "top:" + playerBoxHeight + "px;";
          players[4].style="position:absolute; right:" + "0" + "px;" + "top:" + playerBoxHeight + "px;";
          players[5].style="position:absolute; right:" + "0" + "px;" + "top:" + 2*playerBoxHeight + "px;";
          break;
      }


      
    }

    function updateTable(table){
      if (table){
        document.getElementById("street").innerHTML = "Street: " + table["street"];
        document.getElementById("highBet").innerHTML = "High bet: " + table["highBet"];
        showPots(table["pots"]);
        showCommonCards(table["commonCards"]);
      }
    } 

    function showPots(potsArray){
      if (potsArray){
        for (let i = 0; i < potsArray.length; i++) {
            if (i == 0){
                document.getElementById("mainPot").innerHTML = "Pot: " + JSON.stringify(potsArray[0]);
            } else {
                console.log("Multiple pots!")
            }
        }
      }
    }
    function activatePlayer(playersInfo, table){
      if (table["activeIndex"] !== 'undefined' && table["activeIndex"] != null){
        var activePlayer = playersInfo[table["activeIndex"]];
        for (let i = 0; i < playersInfo.length; i++) {
            var playerBox = document.getElementById("player" + playersInfo[i]["playerId"]);
            if (playerBox){
                playerBox.classList.remove("ring-4");
                playerBox.classList.remove("ring-red-700");
                if (playersInfo[i]["playerId"] == activePlayer.playerId) {
                  playerBox.classList.add("ring-4");
                  playerBox.classList.add("ring-red-700");
                }
            } 
        }
      }
    }
    
    function showCommonCards(cardArray){
        let cardDiv = document.getElementById("commonCards"); 
        let cardString = "";
        for (let i = 0; i < cardArray.length; i++) {
            cardString = cardString + " " + renderCard(cardArray[i]);
        }
        cardDiv.innerHTML = cardString; // clear list first
    }

    function renderCard(cardString){
      var num = cardString.charAt(0);
      var suit = cardString.charAt(1);
      if (num == "T"){
        num = "10";
      }
      return (num + htmlSuit(suit))
    } 
    function htmlSuit(suitString){
      switch (suitString) {
        case 'c':
          return "♣";
        case 'd':
          return "🔸";
        case 'h':
          return "🧡";
        case 's':
          return "♠";
        default:
          console.log(`Sorry, no suit match for  ${suitString}.`);
          return suitString;
      }
    }

    function renderPlayer(player){
      let playerDiv = document.createElement('div');
      let playerName = document.createElement('div');
      let playerPosition = document.createElement('div');
      let playerButton = document.createElement('div');
      let playerSmallBlind = document.createElement('div');
      let playerBigBlind = document.createElement('div');
      let playerChips = document.createElement('p');
      let playerHand = document.createElement('p');

      playerDiv.id = 'player' + player.playerId;
      playerDiv.className = 'player-box p-4 max-w-sm mx-auto bg-white rounded-xl shadow-lg text-center relative';
      playerName.id = 'player' + player.playerId + 'name';
      playerName.className = 'text-xl font-medium';
      playerChips.id = 'player' + player.playerId + 'chips';
      playerChips.className = 'text-slate-500 absolute right-[-8px] top-[-8px] ring-4 ring-red-300 rounded-xl p-2';
      playerHand.id = 'player' + player.playerId + 'hand';
      playerHand.className = 'text-slate-500';
      playerPosition.id = 'player' + player.playerId + 'position';
      playerPosition.className = 'flex gap-1 absolute bottom-[-8px]';
      playerButton.id = 'player' + player.playerId + 'button';
      playerButton.className = 'bg-black rounded-xl ring-2 ring-gray-300 ring-inset text-white font-bold px-2';
      playerSmallBlind.id = 'player' + player.playerId + 'smallBlind';
      playerSmallBlind.className = 'bg-blue-400 rounded-xl ring-2 ring-blue-500 ring-inset text-white font-bold px-2';
      playerBigBlind.id = 'player' + player.playerId + 'bigBlind';
      playerBigBlind.className = 'bg-green-400 rounded-xl ring-2 ring-green-500 ring-inset text-white font-bold px-2';


      // '<div id="player1" class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg items-center">'
      //     <div id="player1name" class="text-xl font-medium"></div>
      //     <p id="player1chips" class="text-slate-500"></p>
      //     <p id="player1hand" class="text-slate-500"></p>
      //     <div id="player1button" class="bg-white rounded-xl ring-2 ring-pink-300 ring-inset"></div>
      //     <div id="player1smallBlind" class="bg-blue rounded-xl ring-2 ring-pink-300 ring-inset"></div>
      //     <div id="player1bigBlind" class="bg-yellow rounded-xl ring-2 ring-pink-300 ring-inset"></div>
      // </div>'
      playerDiv.appendChild(playerName);
      playerDiv.appendChild(playerChips);
      playerDiv.appendChild(playerHand);
      playerPosition.appendChild(playerButton);
      playerPosition.appendChild(playerSmallBlind);
      playerPosition.appendChild(playerBigBlind);
      playerDiv.appendChild(playerPosition);
      return playerDiv;
    }
</script>
