<html lang="en" class="h-full bg-gray-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <title>Poker for the People</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body class="h-full">
    <!-- This example requires Tailwind CSS v2.0+ -->
<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->
<div class="min-h-full">
    <nav class="bg-gray-800">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <img class="h-8 w-8" src="/img/porky.png" alt="Workflow">
            </div>
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
              </div>
            </div>
          </div>
          <div class="hidden md:block">
            <div class="ml-4 flex items-center md:ml-6">
              <button type="button" class="bg-gray-800 p-1 rounded-full text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
                <span class="sr-only">View notifications</span>
                <!-- Heroicon name: outline/bell -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                </svg>
              </button>
  
              <!-- Profile dropdown -->
              <div class="ml-3 relative">
                <div>
                  <button type="button" onClick="toggleProfileDropdown()" class="max-w-xs bg-gray-800 rounded-full flex items-center text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                    <span class="sr-only">Open user menu</span>
                    <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                  </button>
                </div>
  
                <!--
                  Dropdown menu, show/hide based on menu state.
  
                  Entering: "transition ease-out duration-100"
                    From: "transform opacity-0 scale-95"
                    To: "transform opacity-100 scale-100"
                  Leaving: "transition ease-in duration-75"
                    From: "transform opacity-100 scale-100"
                    To: "transform opacity-0 scale-95"
                -->
                <div id="profile-dropdown" class="opacity-0 origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                  <!-- Active link in menu: "bg-gray-100", Not Active: "" -->
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Chat</a>
                    <div class="socket">
                        <ul id="messages" class="px-4 py-2"></ul>
                        <form id="form" action="" class="px-4 py-2">
                            <input id="input" type='text' placeholder="Enter your message here here" class="w-full mt-2 mb-6 px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:border-green-500">
                            <button class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2"/>Send</button>  
                        </form>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="-mr-2 flex md:hidden">
            <!-- Mobile menu button -->
            <button type="button" class="bg-gray-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <!--
                Heroicon name: outline/menu
  
                Menu open: "hidden", Menu closed: "block"
              -->
              <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
              <!--
                Heroicon name: outline/x
  
                Menu open: "block", Menu closed: "hidden"
              -->
              <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
      </div>
  
      <!-- Mobile menu, show/hide based on menu state. -->
      <div class="md:hidden" id="mobile-menu">
        <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
          <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Team</a>
        </div>
        <div class="pt-4 pb-3 border-t border-gray-700">
          <div class="flex items-center px-5">
            <div class="flex-shrink-0">
              <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            </div>
            <div class="ml-3">
              <div class="text-base font-medium leading-none text-white">Tom Cook</div>
              <div class="text-sm font-medium leading-none text-gray-400">tom@example.com</div>
            </div>
            <button type="button" class="ml-auto bg-gray-800 flex-shrink-0 p-1 rounded-full text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
              <span class="sr-only">View notifications</span>
              <!-- Heroicon name: outline/bell -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
              </svg>
            </button>
          </div>
          <div class="mt-3 px-2 space-y-1">
            <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700">Your Profile</a>
          </div>
        </div>
      </div>
    </nav>
    <header class="bg-white shadow">
      <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold text-gray-900">{{title}}</h1>
        <p class="text-slate-500">{{message}}</p>
        <button class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2" type="button" onclick="newGame()">New Game</button>
        <button class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2" type="button" onclick="nextHand()">Next Hand</button>
      </div>
    </header>
    <main>
      <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        
            <div class="grid grid-cols-4 gap-4">
                <div id="player1" class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg items-center">
                    <div id="player1name" class="text-xl font-medium"></div>
                    <p id="player1chips" class="text-slate-500"></p>
                    <p id="player1hand" class="text-slate-500"></p>
                </div>
                <div id="player2" class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg items-center">
                    <div id="player2name" class="text-xl font-medium"></div>
                    <p id="player2chips" class="text-slate-500"></p>
                    <p id="player2hand" class="text-slate-500"></p>
                </div>
                <div id="player3" class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg items-center">
                    <div id="player3name" class="text-xl font-medium"></div>
                    <p id="player3chips" class="text-slate-500"></p>
                    <p id="player3hand" class="text-slate-500"></p>
                </div>
                <div id="player4" class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg items-center">
                    <div id="player4name" class="text-xl font-medium"></div>
                    <p id="player4chips" class="text-slate-500"></p>
                    <p id="player4hand" class="text-slate-500"></p>
                </div>
            </div>
            <div id="table" class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg items-center mt-4">
                <div id="street" class="">
                </div>
                <div id="mainPot" class="">
                </div>
                <div id="highBet" class=""> 
                </div>
                <ol id="commonCards" class="">
                </ol>
                <div id="results">
                </div>
            </div>
            <div class="bg-white mt-4">
                <div class="max-w-2xl mx-auto py-4 px-2 lg:max-w-7xl lg:px-8">
                  <div id="actions">
                  </div>
                  <div class="mt-2 grid grid-cols-4 gap-y-10 gap-x-6 xl:gap-x-8">
                      <div class="mt-2 flex justify-between">
                            <button type="button" id="checkBtn" onclick="check()" class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">Check</button>
                      </div>
                      <div class="mt-2 flex justify-between">
                        <button type="button" id="callBtn" onclick="call()" class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">Call</button>
                      </div>
                      <div class="mt-2 flex justify-between">
                        <div class="relative text-gray-700">
                            <input id="betAmount" class="w-full h-10 pl-3 pr-8 text-base placeholder-gray-600 border rounded-lg focus:shadow-outline" type="text" placeholder="Amount"/>
                            <button onclick="bet()" class="absolute inset-y-0 right-0 flex items-center px-4 font-bold text-white bg-indigo-600 rounded-r-lg hover:bg-indigo-500 focus:bg-indigo-700">Bet</button>
                        </div>
                    </div>
                      <div class="mt-2 flex justify-between">
                        <button type="button" id="foldBtn" onclick="fold()" class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">Fold</button>
                      </div>
                  </div>
                </div>
            </div>
      </div>
    </main>
  </div>
  
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        var form = document.getElementById('form');
        var input = document.getElementById('input');

        form.addEventListener('submit', function(e) {
            e.preventDefault();
            if (input.value) {
                socket.emit('chat message', input.value);
                input.value = '';
            }
        });

        socket.on('chat message', function(msg) {
            var item = document.createElement('li');
            item.textContent = msg;
            messages.appendChild(item);
            window.scrollTo(0, document.body.scrollHeight);
        });
    </script>
    <script>
        function fetchAndUpdate(endpoint){
            var responseData;
            fetch('http://localhost:8080/api/' + endpoint)
            .then(response => response.json())
            .then(data => responseData = data)
            .then(() => {
                var data = responseData.data;
                updateOtherPlayers(data.playersInfo);
                updateTable(data.table);
                updatePlayer(data.player);
                activatePlayer(data.playersInfo, data.table);
                updateResults(data.results);
            });
        }
        function updateActions(actions){
          var actionsDiv = document.getElementById("actions");
          if (actions){
            actionsDiv.innerHTML = JSON.stringify(options);
          }
        }
        function updateResults(results){
          var resultsDiv = document.getElementById("results");
          if (results){
            resultsDiv.innerHTML = JSON.stringify(results);
          } else {
            resultsDiv.innerHTML = "";
          }
        }
        function updateOtherPlayers(playersInfo) {
          if (playersInfo){
            for (let i = 0; i < playersInfo.length; i++) {
                var chipLabel = document.getElementById("player" + playersInfo[i]["playerId"] + "chips");
                var nameLabel = document.getElementById("player" + playersInfo[i]["playerId"] + "name");
                if (chipLabel){
                    chipLabel.innerHTML = playersInfo[i]["chips"];
                }
                if (nameLabel){
                    nameLabel.innerHTML = playersInfo[i]["name"];
                }
            }
          }
        }
        function updateTable(table){
          if (table){
            document.getElementById("street").innerHTML = "Street: " + table["street"];
            document.getElementById("highBet").innerHTML = "High bet: " + table["highBet"];
            showPots(table["pots"]);
            showCommonCards(table["commonCards"]);
          }
        }
        function showPots(potsArray){
          if (potsArray){
            for (let i = 0; i < potsArray.length; i++) {
                if (i == 0){
                    document.getElementById("mainPot").innerHTML = "Pot: " + JSON.stringify(potsArray[0]);
                } else {
                    console.log("Multiple pots!")
                }
            }
          }
        }
        function updatePlayer(player){
          if (player){
            var handLabel = document.getElementById("player" + player["playerId"] + "hand"); 
            if (handLabel){
                handLabel.innerHTML = renderCard(player["hand"][0]) + renderCard(player["hand"][1]);
            }
          }
        }
        function activatePlayer(playersInfo, table){
          if (playersInfo && table){
            var activePlayerId = playersInfo[table["activeIndex"]]["playerId"];
            for (let i = 0; i < playersInfo.length; i++) {
                var item = document.getElementById("player" + playersInfo[i]["playerId"]);
                if (item){
                    item.classList.remove("text-purple-600");
                    if (playersInfo[i]["playerId"] == activePlayerId) {
                        item.classList.add("text-purple-600");
                    }
                } 
            }
          }
        }
        function showCommonCards(cardArray){
            let cardList = document.getElementById("commonCards"); 
            cardList.innerHTML = ""; // clear list first
            for (let i = 0; i < cardArray.length; i++) {
                var item = document.createElement('li');
                item.textContent = renderCard(cardArray[i]);
                cardList.appendChild(item);
            }
        }
        function newGame() {
            fetchAndUpdate('new');
        }
        function nextHand() {
            fetchAndUpdate('nextHand');
        }
        function check() {
            fetchAndUpdate('check');
        }
        function bet() {
            var amount = document.getElementById("betAmount").value;
            console.log("betting ", amount);
            fetchAndUpdate('bet?amount=' + amount);
        }
        function call() {
            fetchAndUpdate('call');
        }
        function fold() {
            fetchAndUpdate('fold');
        }
        function renderCard(cardString){
          var num = cardString.charAt(0);
          var suit = cardString.charAt(1);
          if (num == "T"){
            num = "10";
          }
          return (num + htmlSuit(suit))
        } 
        function htmlSuit(suitString){
          switch (suitString) {
            case 'c':
              return "♣";
            case 'd':
              return "🔸";
            case 'h':
              return "🧡";
            case 's':
              return "♠";
            default:
              console.log(`Sorry, no suit match for  ${suitString}.`);
              return suitString;
          }
        }

        function toggleProfileDropdown(){
          var dropdown = document.getElementById("profile-dropdown");
          if (dropdown.classList.contains('opacity-0')) {
            dropdown.classList.remove('opacity-0');
          } else {
            dropdown.classList.add('opacity-0');
          }
        }
    </script>
</body>
</html>