<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <title>Document</title>
    <link href="/css/styles.css" rel="stylesheet">
    <!-- <style>
        body {
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: powderblue;
            background-image: url('http://localhost:8080/img/porky.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
        h1   {color: rgb(47, 47, 48);}
        h2    {color: rgb(138, 128, 128);}
        #main {width: 40%; height: 80%; float: left;}
        #col2 {width: 40%; height: 80%; float: right;}    
    </style> -->
</head>

<body>
    <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
        <h1>{{title}}</h1>
        <h2>{{message}}</h2>
        
    </div>
    <main id="main">
        <button type="button" onclick="newGame()">New Game</button>
        <h3>Table</h3>
        <div id="table">
            
        </div>
        <h3>Current Player</h3>
        <div id="player">
            
        </div>
        <h3>Actions</h3>
        <div id="actions">
            
        </div>
        <button type="button" id="checkBtn" onclick="check()">Check</button>
        <button type="button" id="callBtn" onclick="call()">Call</button>
        <button type="button" id="betBtn" onclick="bet()">Bet</button>
        <button type="button" id="foldBtn" onclick="fold()">Fold</button>
        <h3>Results</h3>
        <div id="results">
            
        </div>
    </main>
    <div id="col2">
        <div class="socket">
            <h3>Table chat:</h3>
            <ul id="messages"></ul>
            <form id="form" action="">
                <input id="input" autocomplete="off" /><button>Send</button>
            </form>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        var form = document.getElementById('form');
        var input = document.getElementById('input');

        form.addEventListener('submit', function(e) {
            e.preventDefault();
            if (input.value) {
                socket.emit('chat message', input.value);
                input.value = '';
            }
        });

        socket.on('chat message', function(msg) {
            var item = document.createElement('li');
            item.textContent = msg;
            messages.appendChild(item);
            window.scrollTo(0, document.body.scrollHeight);
        });
    </script>
    <script>
        function fetchAndUpdate(endpoint){
            var responseData;
            var tableDiv = document.getElementById("table");
            var playerDiv = document.getElementById("player");
            var actionsDiv = document.getElementById("actions");
            var resultsDiv = document.getElementById("results");
            fetch('http://localhost:8080/api/' + endpoint)
            .then(response => response.json())
            .then(data => responseData = data)
            .then(() => {
                var data = responseData.data;
                tableDiv.innerHTML = JSON.stringify(data.table);
                playerDiv.innerHTML = JSON.stringify(data.player);
                actionsDiv.innerHTML = JSON.stringify(data.options);
                resultsDiv.innerHTML = JSON.stringify(data.results);
            });
        }
        function newGame() {
            fetchAndUpdate('new');
        }
        function check() {
            fetchAndUpdate('check');
        }
        function bet() {
            fetchAndUpdate('bet');
        }
        function call() {
            fetchAndUpdate('call');
        }
        function fold() {
            fetchAndUpdate('fold');
        }
    </script>
</body>
</html>